 <!DOCTYPE html>
<html>		
<head>
	<meta charset= "UTF-8">
	<meta http-equiv="X-UA-Copatible" content="ie=edge">
	<title></title>
</head>
<body>
	<h1>Выпускники НГТУ</h1>
	<form method="post" action="external">
		{% csrf_token %}
		{{form}}
		<br>
		<br>
		<input type="submit" value="Поиск">
		<br><br>
		Профессия: {{Occ}}
		<br>
		Всего резюме: {{Amount}}
		<br>
		Средняя зарплата: {{AvgSal}} рублей
		<br>
		Самая высокая зарплата: {{HighestSal}} рублей
		<br>
		Самая низкая зарплата: {{LowestSal}} рублей
		<br>
		Средний возраст: {{AvgAge}}
		<br>
		Самый старый: {{OldAge}}
		<br>
		Самый молодой: {{YoungAge}}
		<br>
		Среднй опыт работы: {{AvgExp}}
		<br>
		Самые частые места работы: {{lastJobs}}
	</form>
</body>
</html>